<div class="mt-1">
   <form class="register_form" #resgisterForm="ngForm" (ngSubmit)="onSubmit(resgisterForm)">
      <div class="text-center">
         <h2>{{ pageTitle }}</h2>
         <p>Registro de usuario Yisus Blog</p>
      </div>
      <div class="text-center success-msg-ko" *ngIf=" status=='error-data' ">
         <p>Datos incorrectos</p>
      </div>
      <div class="text-center success-msg-ok" *ngIf=" status=='user-create' ">
         <p>Usuario creado correctamente. Puedes acceder a tu cuenta en este <a [routerLink]="['/login']">link</a></p>
      </div>
      <div class="text-center success-msg-ko" *ngIf=" status=='error-create' ">
         <p>Estamos teniendo algun problema, intentalo más tarde</p>
      </div>

      <div class="mt-2">
         <p>
            <label for="name">Nombre: </label>
            <small *ngIf="!name.valid && name.touched" class="red">El nombre no es válido</small>
            <input required pattern="[a-zA-Z]+" type="text" name="name" id="name" #name="ngModel" [(ngModel)]="user.name">
         </p>
         <p>
            <label for="surname">Apellido: </label>
            <small *ngIf="!surname.valid && surname.touched" class="red">El apellido no son válidos</small>
            <input required pattern="[a-zA-Z]+" type="text" name="surname" id="surname" #surname="ngModel" [(ngModel)]="user.surname">
         </p>
         <p>
            <label for="birthdate">Fecha de nacimiento: </label>
            <small *ngIf="!birthdate.valid && birthdate.touched" class="red">Debes rellenar la fecha de nacimiento</small>
            <input required type="date" name="birthdate" id="birthdate" #birthdate="ngModel" [(ngModel)]="user.birthdate">
         </p>
         <p>
            <label for="email">Email: </label>
            <small *ngIf="!email.valid && email.touched" class="red">El email no es válido</small>
            <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email">
         </p>
         <p>
            <label for="password">Contraseña: </label>
            <small *ngIf="!password.valid && password.touched" class="red">La contraseña no es válida, debe tener en 6 y 8 caracteres</small>
            <input required pattern=".{6,8}" type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password">
         </p>
         <p>

            <label for="legal">
               <input required type="checkbox" name="legal" id="legal" #legal="ngModel" [(ngModel)]="user.legal">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea culpa hic odit praesentium, accusantium illo possimus laboriosam ullam repellendus voluptatibus, adipisci unde libero cupiditate eligendi, eius tempore quisquam totam? Assumenda?
            </label>
         </p>
         <p>
            <button type="submit" class="mt-2 button-blue" [disabled]="resgisterForm.invalid">Registrarme</button>
         </p>
      </div>
   </form>
</div>
