<h2 class="text-center blue">{{ post.title }}</h2>
<h3 class="text-center blue-light">{{ post.subtitle }}</h3>
<p class="yellow text-right">
   <small>{{ user.name }} {{ post.created_at | date : "dd/MM/yyyy" }}</small>
</p>
<div class="grey" [innerHTML]="post.content"></div>
<div class="grid-post text-center">
   <div *ngFor="let image of post.images">
      <img class="grid_item img-post" src="{{ image.path }}"  alt="Yisus Blog">
   </div>
</div>

