<div class="container">

   <div class="text-center">
      <a class="clean-style-a" [routerLink]="['/']"><h1 class="blue">Yisus Blog</h1></a>
   </div>
   <nav>
      <ul class="menu">
         <li class="menu-li li-post" *ngIf="identity">
            <a [routerLink]="['/posts']" >Posts</a>
         </li>
         <li class="menu-li li-new-post" *ngIf="identity">
            <a [routerLink]="['/new-post']" >Nuevo Post</a>
         </li>
         <li class="menu-li li-login">
            <a [routerLink]="['/login']" *ngIf="!identity">Login</a>
         </li>
         <li class="menu-li li-reg">
            <a [routerLink]="['/registro']" *ngIf="!identity">Registro</a>
         </li>
         <li class="menu-li li-name" *ngIf="identity && identity.name">
            <a>{{ identity.name }}</a>
         </li>
         <li class="menu-li li-clos" *ngIf="identity">
            <a [routerLink]="['/logout/1']"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
         </li>
      </ul>
   </nav>
   <router-outlet></router-outlet>
</div>
