<div class="mt-1">
   <form class="register_form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="text-center">
         <h2>{{ pageTitle }}</h2>
      </div>
      <div class="text-center success-msg-ko" *ngIf=" status=='error-data' ">
         <p>Usuario o contraseña incorrectos</p>
      </div>
      <div class="mt-2">
         <p>
            <label for="email">Email: </label>
            <small *ngIf="!email.valid && email.touched" class="red">El email no es válido</small>
            <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email">
         </p>
         <p>
            <label for="password">Contraseña: </label>
            <small *ngIf="!password.valid && password.touched" class="red">La contraseña no es válida, debe tener en 6 y 8 caracteres</small>
            <input required pattern=".{6,8}" type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password">
         </p>
         <p>
            <button type="submit" class="mt-1 button-blue" [disabled]="loginForm.invalid">Acceder</button>
         </p>
      </div>
   </form>
</div>
