<div class="grid">
   <div class="grid_item text-center" *ngFor="let post of posts">
      <div *ngFor="let image of post.images; let i = index">
          <img class="image_posts" *ngIf="i == 0" src="{{ image.path }}"  alt="Yisus Blog">
      </div>
      <div class="p-02">
         <a class="grid_link" [routerLink]="['/post', post.id]">
         <h3>{{ post.title }}</h3>
         <p>{{ post.created_at | date : "dd/MM/yyyy" }}</p>
         <p>VER MÁS...</p>
      </a>
      </div>
   </div>
</div>
