<div class="mt-1">
   <form class="post_new_form" #createPost="ngForm" (ngSubmit)="onSubmit(createPost)">
      <div class="mt-2">
         <p>
            <label for="email">Título </label>
            <small *ngIf="!title.valid && title.touched" class="red">El título no es válido</small>
            <input required type="text" name="title" id="title" #title="ngModel" [(ngModel)]="post.title">
         </p>
         <p>
            <label for="subtitle">Subtítulo: </label>
            <small *ngIf="!subtitle.valid && subtitle.touched" class="red">El subtítulo no es válido</small>
            <input required type="text" name="subtitle" id="subtitle" #subtitle="ngModel" [(ngModel)]="post.subtitle">
         </p>
         <p>
            <label for="content">Contenido: </label>
            <small *ngIf="!content.valid && content.touched" class="red">El subtítulo no es válido</small>
            <textarea required [froalaEditor]="froala_options" name="content" id="content" #content="ngModel" [(ngModel)]="post.content"></textarea>
         </p>
         <!-- <p>
            <label for="images">Imágenes: </label>
            <small *ngIf="!images.valid" class="red">Las imagen no tiene formato válido válido</small>
            <input type="file" name="images" id="images" #images="ngModel" [(ngModel)]="post.images" multiple>
         </p> -->
         <p>
            <button type="submit" class="mt-1 button-blue" [disabled]="createPost.invalid">Guardar</button>
         </p>
      </div>
   </form>
</div>


