@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #dedede;
}
html{
   font-size: 100%;
}
p{
  margin: 0rem 0rem 0.5rem 0rem;
}
a{
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5{
   color: #303F9F;
}



.blue{
   color: #303F9F;
}
.blue-light{
   color: #3F51B5;
}
.yellow{
   color: #FFC107;
}
.red{
  color: #dc3636;
}

.grey{
  color: #212121;
}

.hr-yellow{
  border: 0.1rem solid #FFC107;
  width: 50%;
}

.hr-blue{
  border: 0.1rem solid #303F9F;
  width: 50%;
}

.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-4{
  margin-top: 4rem;
}

.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-4{
  margin-bottom: 4rem;
}

.m-1{
  margin: 1rem;
}
.m-2{
  margin: 2rem;
}
.m-3{
  margin: 3rem;
}
.m-4{
  margin: 4rem;
}

.p-02{
  padding: 0.2rem;
}
.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}
.p-3{
  padding: 3rem;
}
.p-4{
  padding: 4rem;
}

.text-center{
   text-align: center;
}
.text-right{
   text-align: right;
}
.text-left{
   text-align: left;
}
.clean-style-a{
   text-decoration: none;
}

.grid_item {
  margin: 0.75rem;
  border: 1px solid #3F51B5;
  background-color: #FFC107;
  transition: 0.6s;
  color: #303F9F;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0 0 0.5rem;
     -moz-box-shadow: rgba(0,0,0,0.8) 0 0 0.5rem;
          box-shadow: rgba(0,0,0,0.8) 0 0 0.5rem;
}

.grid_item:hover , .grid_item:hover > a{
  background-color: #3F51B5;
  transition: 0.6s;
  color: #FFC107;
  border: 2px solid #FFC107;
}

@media (max-width: 1000px) {
  .container{
    margin-right: auto;
    margin-left: auto;
    width: 100%
  }
  .register_form{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    padding: 0.2rem;
  }

  .grid-post {
    display: grid;
    grid-template-columns: auto;
    padding: 0.2rem;
    transition: 0.6s;
  }
}

@media (min-width: 1000px) {
  .container{
    margin-right: auto;
    margin-left: auto;
    width: 70%
  }

  .register_form{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    padding: 1.5rem;
  }

  .grid-post {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1.5rem;
    transition: 0.6s;
  }

}

.button-blue{
  cursor: pointer;
  background-color: #303F9F;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  font-size: 1em;
}

.button-blue:hover{
  background-color: #FFC107;
  color: #303F9F;
  transition: 0.6s;
  font-size: 1em;
}

.button-yellow{
  cursor: pointer;
  background-color: #FFC107;
  color: #303F9F;
  text-align: center;
  padding: 1em;
  font-size: 1em;
}

.button-yellow:hover{
  background-color: #303F9F;
  color: #FFC107;
  transition: 0.6s;
  font-size: 1em;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303F9F;
  text-align: right;
}

.menu-li{
  float: left;
}

.li-login,
.li-reg,
.li-clos,
.li-name{
  float: none;
  display: inline-block;
}

.menu-li > a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.menu-li > a:hover {
  background-color: #FFC107;
  transition: 0.6s;
  color: #303F9F;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  border: 1px solid #999999 ;
  background-color: #cccccc ;
  color: #666666 ;
  pointer-events: none;
}

button{
  float: right;
}

[type='text'],
[type='password'],
[type='date'],
[type='email'],
[type='number'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #303F9F;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

.success-msg-ok{
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #00ff5f;
  border-radius: 0;
  background-color: #e1faea;
}
.success-msg-ko{
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ff2300;
  border-radius: 0;
  background-color: #f7e4e1;
}

.image_posts{
  width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.img-post{
  margin: 1rem;
  border-radius: 0.5rem;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0 0 0.5rem;
     -moz-box-shadow: rgba(0,0,0,0.8) 0 0 0.5rem;
          box-shadow: rgba(0,0,0,0.8) 0 0 0.5rem;
}

.fr-box{
  margin-top:1rem;
}

.fr-wrapper div:first-child a {
  display: none!important;
}
